{% extends "base.html" %}
{% block title %}Tableau de bord{% endblock %}

{% block content %}

    <section>
        <h2>Tableau de bord</h2>

        <article>
            <h3>Gestion des activités</h3>
            <a href="#">Ajouter une activité</a>
            <a href="#">Modifier une activité</a>
            <a href="#">Supprimer une activité</a>
        </article>

        <article>
            <h3>Gestion des actualités</h3>
            <a href="#">Ajouter une actualité</a>
            <a href="#">Modifier une actualité</a>
            <a href="#">Supprimer une actualité</a>
        </article>

        <article>
            <h3>Gestion de la galerie</h3>
            <a href="#">Ajouter une photo</a>
            <a href="#">Supprimer une photo</a>
        </article>
    </section>

{% endblock %}