{% extends "base.html" %}
{% block title %}Accueil{% endblock %}

{% block content %}

    <section>
        <h2>Bienvenue à l'UFR STA</h2>
        <p>L’UFR Sciences et Technologies Avancées (STA) de l’UAM ambitionne d’être un creuset d’excellence académique pour le développement des talents, un véritable hub scientifique, technologique, numérique et d’innovation de référence en Afrique au service des besoins de développement socio-économique du Sénégal et au-delà.

Les étudiants et l’ensemble des acteurs y trouveront (i) des formations innovantes adaptées aux besoins du marché de l’emploi, (ii) un corps professoral qualifié et engagé, (iii) une dynamique partenariale très forte sur le plan académique et avec les entreprises et institutions de recherche, tant au niveau national qu’international, (iv) un environnement favorable à l’apprentissage, à l’acquisition de connaissances et de compétences, à l'éclosion des jeunes talents pour l’entreprenariat et le développement de startup.</p>
    </section>

{% endblock %}